.home-page {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-page > h1 {
    text-align: center;
    margin-top: 1.5rem;
    color: $secondary;
}

.home-page > h2 {
    margin-top: 2rem;
    color: $secondary;
}

.home-page > p {
    width: 50%;
    line-height: 30px;
    font-size: 18px;
    //letter-spacing: 0.5px;
}

.home-page > ul, ol {
    line-height: 30px;
    font-size: 18px;
    //letter-spacing: 0.5px;
}

.download-button {
    background-color: $primary;
    border: none;
    border-radius: 7px; 
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 800;
    font-size: 24px;
    width: 180px;
    height: 60px;
    margin-bottom: 2rem;
    transition: 0.3s;
}

.download-button:hover {
    background-color: darken($primary, 25);
}

.download-button__icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.bobux-text {
    color: $primary;
}
