.world-container {
    display: flex;
    justify-content: center;
}

.world {
    background: $item;
    border-radius: 4px;
    border-bottom: 4px solid $tertiary;
    margin-top: 3rem;
    width: 850px;
    font-weight: 700;
    line-height: 169.4%;
}

.world-name {
    color: white;
    font-size: 28px;
    text-align: center;
    margin-top: 1rem;
}

.world-thumbnail {
    width: 380px;
    height: 250px;
    border: 2px solid $primary;
}

.world-thumbnail > img {
    width: inherit;
    height: inherit;
}
