// Fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito');

// Colours
$background: #141A2E;
$item: #24253D;
$primary: #2FE1B9;
$secondary: #0ABDE3;
$alert: #EE5253;
$tertiary: #FFB900;
$dark: #0B1125;

$subtle-text: rgba(79, 87, 147, 0.4);

// Sizing

